<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HC Group Leaders Admin - Attendance Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#sunday').on('change', function() {
          if ($('#sunday').val() !== 'default') {
            $('#downloadButton').prop('disabled', false);
          } else {
            $('#downloadButton').prop('disabled', true);
          }
        });
      });

      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collaspe-for-profile" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.hollandchapel.org/" target="_blank">
                <img alt="Brand" style="max-width:100px" src="/images/hc-logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collaspe-for-profile">
            <ul class="nav navbar-nav navbar-right">
                <% if (leader !== null && leader._leaderType === 2) { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="attendance-report">Generate Attendance Report</a></li>
                            <li><a href="manage-members">Manage Small Group Members</a></li>
                            <li><a href="manage-groups">Manage Small Groups</a></li>
                            <li><a href="manage-leaders">Manage Small Group Leaders</a></li>
                        </ul>
                    </li><%
                }%>
                <li class="dropdown">
                    <% if (leader !== null) { %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%= leader._leaderFirstName%> <span class="caret"></span></a>
                    <% } else { %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site Actions<span class="caret"></span></a><%
                    }%>
                    <ul class="dropdown-menu">
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="padding-top:20px">
    <% if (leader !== null) { %>
        <h1 style="text-align: center">Generate Attendance Report</h1>
    <% } else { %>
        <h1 style="text-align: center">Holland Chapel</h1><%
    }%>
    <div class="col-sm-6 col-sm-offset-3" style="padding-top:80px">
        <form action="/attendance-report" method="post">
            <div class="form-group">
                <label for="sunday">Select Small Group Meeting Date:</label>
                <select class="form-control" id="sunday" name="sunday">
                    <option value="default">Select...</option>
                    <% for (const sunday of sundays) {
                        if ((new Date(sunday) < new Date()) && (new Date(sunday) >= new Date('02/02/2020'))) {
                            %><option value="<%= sunday%>">Sunday, <%= sunday%></option><%
                        }
                    } %>
                </select>
                <br />
                <button type="submit" id="downloadButton" class="btn btn-primary btn-lg" style="text-align: center" disabled>Download Report</button>
                <br />
                <br />
                <br />
                <br />
                <% if (error !== null) { %>
                    <div class="panel panel-default" id="errorDiv" style="font-weight: normal; border: 4px solid red">
                        <div style="text-align: center; font-size: 18px; color: red;">
                            <%= error%>
                        </div>
                    </div><%
                } else if (noSundaySelectedError !== null) { %>
                    <div class="panel panel-default" id="noSundaySelectedErrorDiv" style="font-weight: normal; border: 4px solid red">
                        <div style="text-align: center; font-size: 18px; color: red;">
                            <%= noSundaySelectedError%>
                        </div>
                    </div><%
                } %>
            </div>
            <div style="padding-top:60px">
                <div class="form-row text-center">
                    <div style="text-align: center; font-size: 16px">
                        Click <span><a href="leader-home">here</a></span> to return to the Leader Home page.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
