<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HC Group Leaders - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <script type="text/javascript">
      $(document).ready(function () {
        let counter = 0;

        $("#addGuest").on("click", function () {
          showGuests();
          let newRow = $("<tr>");
          let cols = "";

          cols += '<td class="checkIn"><input type="text" class="form-control" name="guestFirstName"/></td>';
          cols += '<td class="checkIn"><input type="text" class="form-control" name="guestLastName"/></td>';
          cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger" value="Remove"></td>';
          newRow.append(cols);
          $("table.order-list").append(newRow);
          counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event) {
          $(this).closest("tr").remove();
          counter -= 1
          let guests = $('#guestTable tr').length;
          if ((guests - 1) === 0) {
            hideGuests();
          }
        });
      });

      function showGuests() {
        $("#guestsDiv").show();
        $("#guestTableHeader").show();
        $("#guestsHeader").show();
      }

      function hideGuests() {
        $("#guestsDiv").hide();
        $("#guestTableHeader").hide();
        $("#guestsHeader").hide();
      }
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collaspe-for-profile" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.hollandchapel.org/" target="_blank">
                <img alt="Brand" style="max-width:100px" src="/images/hc-logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collaspe-for-profile">
            <ul class="nav navbar-nav navbar-right">
                <% if (leader !== null && leader._leaderType === 2) { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Manage Small Groups</a></li>
                            <li><a href="#">Add/Remove Small Group Members</a></li>
                        </ul>
                    </li><%
                }%>
                <li class="dropdown">
                    <% if (leader !== null) { %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%= leader._leaderFirstName%> <span class="caret"></span></a>
                    <% } else { %>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site Actions<span class="caret"></span></a><%
                    }%>
                    <ul class="dropdown-menu">
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="padding-top:20px">
    <% if (leader !== null) { %>
        <h1 style="text-align: center"><%= leader._groupName%>'s Small Group</h1>
    <% } else { %>
        <h1 style="text-align: center">Holland Chapel</h1><%
    }%>
    <div class="col-sm-6 col-sm-offset-3" style="padding-top:80px">
        <form action="/leader-home" method="post">
            <div class="panel panel-default" id="membersDiv">
                <table class="table table-bordered table-responsive table-hover" id="membersTable">
                    <thead>
                    <tr class="header" style="background-color: #d2f8d2">
                        <th>Member Name</th>
                        <th>Meeting Date</th>
                        <th>Attended</th>
                    </tr>
                    </thead>
                    <tbody id="membersTableBody">
                    <% if (members !== null) {
                        for (const member of members) { %>
                        <tr id="<%= member._memberName%>Id">
                            <td class="checkIn"><%= member._memberName%></td>
                            <td class="checkIn"><%= date%></td>
                            <td class="checkIn"><input type="checkbox" name="attendanceData" value="<%= member._memberName%>"/></td>
                        </tr><%
                        }
                    }%>
                    </tbody>
                </table>
            </div>
            <h2 id="guestsHeader" style="text-align: center;" hidden>Small Group Guests</h2>
            <div class="panel panel-default" id="guestsDiv" hidden>
                <table id="guestTable" class="table order-list table-bordered">
                    <thead>
                    <tr class="header" style="background-color: #d2f8d2" id="guestTableHeader" hidden>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <input type="button" class="btn btn-lg btn-info" id="addGuest" value="Add Guest"/>
            <br />
            <br />
            <br />
            <br />
            <button type="submit" class="btn btn-primary btn-lg" style="text-align: center">Check-In</button>
            <br />
            <br />
            <br />
            <br />
        </form>
    </div>
</div>
</body>
</html>