<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HC Group Leaders - Register</title>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container" style="padding-top:20px">
    <div>
        <img class="center-block" src="/images/hc-groups-logo.png" style="max-height: 230px; max-width: 230px;" />
    </div>
    <div class="col-sm-6 col-sm-offset-3" style="padding-top:10px">
        <% if (success !== null && success === true) { %>
            <div class="panel panel-default" id="succesfullyRegisterdDiv" style="font-weight: normal; border: 4px solid green">
                <div style="text-align: center; font-size: 18px; color: green;">
                    Successfully Registered Account!
                </div>
                <div style="text-align: center; font-size: 18px; color: green;">
                    Click <span><a href="login">here</a></span> to go to the Login page.
                </div>
            </div>
        <% } %>
        <h1 style="text-align: center"><span class="fa fa-user-plus"></span> Register</h1>
        <br />
        <form id="registrationForm" action="/register" method="post">
            <div class="form-group">
                <label>Username</label>
                <% if (errors.noUsernameError !== null || invalidUserError !== null) { %>
                    <input class="form-control has-error has-feedback" id="username" placeholder="Your HC Group Leader Username" name="username" type="text" value="<%= username%>" style="font-weight: normal; border: 2px solid red"/><%
                    if (errors.noUsernameError !== null) { %>
                        <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= errors.noUsernameError%></span><%
                    }
                    if (invalidUserError !== null)  {%>
                        <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= invalidUserError%></span><%
                    }
                } else { %>
                    <input class="form-control" id="username" placeholder="Your HC Group Leader Username" name="username" type="text" value="<%= username%>" style="font-weight: normal"/><%
                }%>
            </div>
            <div class="form-group">
                <label>Create Password</label>
                <% if (errors.noPasswordError !== null || errors.passwordNotValidError !== null || errors.passwordMismatchError !== null) {
                    %><input class="form-control has-error has-feedback" type="password" id="password" name="password" placeholder="8-20 Character Password. Example: Password1!" style="font-weight: normal; border: 2px solid red"/><%
                    if (errors.noPasswordError !== null) { %>
                        <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= errors.noPasswordError%></span><%
                    }
                } else {
                    %><input class="form-control" type="password" id="password" name="password" placeholder="8-20 Character Password. Example: Password1!"><%
                }%>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <% if (errors.noConfirmPasswordError !== null || errors.passwordMismatchError !== null || errors.passwordNotValidError !== null) {
                    %><input class="form-control has-error has-feedback" type="password" id="confirmPassword" name="confirmPassword" placeholder="8-20 Character Password. Example: Password1!" style="font-weight: normal; border: 2px solid red"/><%
                    if (errors.noConfirmPasswordError !== null) { %>
                        <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= errors.noConfirmPasswordError%></span><%
                    }
                    if (errors.passwordMismatchError !== null) { %>
                        <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= errors.passwordMismatchError%></span><%
                    }
                    if (errors.passwordNotValidError !== null) { %>
                        <span class="help-block" style="color: red"><i class="fa fa-exclamation-circle" style="color: red"></i>&nbsp;&nbsp;<%= errors.passwordNotValidError%></span><%
                    }
                } else {
                    %><input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="8-20 Character Password. Example: Password1!"><%
                }%>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </form>
        <hr>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</div>
</body>
</html>